

#navbar{
    text-align: center;
    justify-content: center;
    background-color: rgb(13, 13, 122);
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:visited{
    color: white;
}

#forecast{
    font-size: 20px;
    display: flex;
    background-color: aqua;
    margin-top: 15px;
    width: 175%;
}

#current{
    border: 2px solid black;
}

#searchbar{
    display: flex;
}

#card{
    background-color: aqua;
    color: black;
}

#history{
    color: gray;
    margin-top: 20px;
}

.card-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



.mainCard{
    padding: 5px;
    display: flexbox;
}

#forecastTitle{
    margin-top: 20px;
    font-size: 30px;
}

.form-label{
    font-size: x-large;
    font-weight: bold;
    margin-top: 15px;
}

